@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>View Your Fruit Catalog Here: <a class="nav-link text-dark" asp-area="" asp-controller="Product" asp-action="List" style="text-decoration: underline">Products</a></p>
</div>
